<h3 class="page-header">
  List of Ingredients
</h3>  

<%= link_to "Create a new ingredient", new_ingredient_path, class: "btn btn-sm btn-success"%>
<p></p>

<% @ingredients.each do |ingredient| %>

<dl class="dl-horizontal">
  <dt><%= link_to ingredient.name, ingredient_path(ingredient) %></dt>
  <dd><%= link_to "  Edit", edit_ingredient_path(ingredient) %><%= link_to " Delete", ingredient_path(ingredient), method: :delete, data: { confirm: "Are you really really really sure" }%></dd>
</dl>

 <% end %>