<font color="#838B8B"> <h1> Your Shopping List </h1> </font>

<h3><b> Title: </b> <%= @shopping_list.shopping_list_name %></h3>
<p> <b> Comment: </b> <%= @shopping_list.comment %> </p>
<b> User: </b>
<%= @shopping_list.user.name %> 
<br>
<b> Price: </b>
<%= @shopping_list.price %> 
<br>
